<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && currentQuestion" class="question-container">
  <mat-progress-bar mode="determinate"
                    value="{{currentQuestion.id/questions[questions.length-1].id*100}}">

  </mat-progress-bar>
  <div *ngIf="questionKey" [@slideInOut]="animationState">


    <app-question
      (answerSelected)="selectAnswer($event)"
      [question]="currentQuestion"
      [selectedAnswer]="selectedAnswers[currentQuestion.id]">
    </app-question>
  </div>
  <div class="navigation-buttons">

    <button (click)="previousQuestion()" [disabled]="questions.indexOf(currentQuestion) === 0">Précédent</button>

    @if (currentQuestionIndex != questions.length - 1) {
      <button (click)="nextQuestion()"
              [disabled]="questions.indexOf(currentQuestion) >= questions.length - 1 || !selectedAnswers[currentQuestion.id]">
        Next
      </button>
    }
    @else if (currentQuestionIndex === questions.length - 1 && selectedAnswers[currentQuestion.id]) {
      <button class="validateButton" (click)="validateAnswers()">VALIDER</button>
    }
  </div>

</div>
