@import '@angular/material/prebuilt-themes/purple-green.css';


.question-container {
  padding: 20px;
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation-buttons button {
  padding: 10px 20px;
}
