<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading && currentQuestion" class="question-container">
  <div *ngIf="questionKey" [@slideInOut]="animationState">
    <app-question
      [question]="currentQuestion"
      [selectedAnswer]="selectedAnswers[currentQuestion.id]"
      (answerSelected)="selectAnswer($event)">
    </app-question>
  </div>
  <div class="navigation-buttons">
    <button (click)="previousQuestion()" [disabled]="questions.indexOf(currentQuestion) === 0">Previous</button>
    <button (click)="nextQuestion()"
            [disabled]="questions.indexOf(currentQuestion) >= questions.length - 1 || !selectedAnswers[currentQuestion.id]">
      Next
    </button>
  </div>
</div>
