<h1>Modifier mon mot de passe</h1>

<form [formGroup]="passwordForm">
  <div>
    <label for="oldpassword">old password</label>
    <input formControlName="oldpassword" id="oldpassword" type="password">
  </div>
  <div>
    <label for="newpassword">new password</label>
    <input formControlName="newpassword" id="newpassword" type="password">
  </div>
  <div class="action-buttons">
    <button (click)="onSubmitUpdateForm()" type="submit">UPDATE</button>
  </div>
</form>

<h1>Supprimer mon compte</h1>

<form>
  <form [formGroup]="accountRemovalForm">
    <div>
      <label for="email">email</label>
      <input formControlName="email" id="email" type="email">
    </div>
    <div>
      <label for="password">password</label>
      <input formControlName="password" id="password" type="password">
    </div>

    <div class="action-buttons">
      <button (click)="showModal = true" type="submit">DELETE</button>
      <app-custom-modal (confirm)="handleConfirmation($event)" *ngIf="showModal"
                        [message]="'Supprimer mon compte ? Cette opération est irréversible !'"></app-custom-modal>
    </div>
  </form>

</form>


