@import '@angular/material/prebuilt-themes/purple-green.css';

// Classes personnalisées
.mainBlock {
  padding: 16px;
  background-color: #f3f3f3; // Couleur de fond légère
}

.greetings {
  display: flex;
  flex-direction: column;
  h1 {
    background-color: transparent;
    font-size: 5em;
    margin-top: 150px;
    color: darkred;
    text-align: center;

    &.greetings-mobile {
      font-size: 2em;
      color: #9c27b0; // Couleur violette pour mobile
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

h1{
  margin-bottom: 150px;
}


